#Icon
protected net.minecraft.client.renderer.texture.TextureAtlasSprite field_110979_l # minU
protected net.minecraft.client.renderer.texture.TextureAtlasSprite field_110980_m # maxU
protected net.minecraft.client.renderer.texture.TextureAtlasSprite field_110977_n # minV
protected net.minecraft.client.renderer.texture.TextureAtlasSprite field_110978_o # maxV
#BlockDataHandler
public net.minecraft.world.ChunkCache field_72815_e # worldObj
#MalisisRenderer
public net.minecraft.client.renderer.VertexBuffer field_179010_r # isDrawing
#GuiRenderer
public net.minecraft.client.renderer.RenderItem func_184390_a(Lnet/minecraft/item/ItemStack;IILnet/minecraft/client/renderer/block/model/IBakedModel;)V # renderItemModelIntoGUI
#AnimatedRenderer
public net.minecraft.client.renderer.RenderGlobal$ContainerLocalRenderInformation
public net.minecraft.client.renderer.RenderGlobal$ContainerLocalRenderInformation field_178036_a # renderChunk
